*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Kumbh Sans", sans-serif;
}

.container {
    margin: auto;
    max-width: 1440px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

.container__main {
    padding: 20px 0;
    padding-right: 30px;
    max-width: 1000px;
    display: flex;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 10px 5px hsla(0, 0%, 0%, 0.2);
}

.container__main__hero {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    /* overflow: hidden; */
}

.container__main__hero__illustration-wrapper {
    padding: 10px 0;
    overflow: hidden;
}

.container__main__hero__illustration {
    position: relative;
    width: 500px;
    left: -60px;
    top: -10px;
}

.container__main__hero__box {
    position: absolute;
    top: 40%;
    left: -73px;
    width: 150px;
    height: 150px;
}

.container__main__faq {
    padding: 20px;
    flex: 1;
    color: hsl(237, 12%, 33%);
}

.container__main__faq__title {
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
}

.container__main__faq__questions {
    margin: 20px 0;
}

.container__main__faq__questions__question__fore {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__main__faq__questions__question__fore {
    padding: 10px 0;
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

.container__main__faq__questions__question__fore p {
    cursor: pointer;
}

.container__main__faq__questions__question__fore p:hover {
    color: hsl(14, 88%, 65%);
}

.container__main__faq__questions__question__answer {
    font-size: 14px;
    padding: 10px 0;
    line-height: 1.25;
    color: hsl(240, 6%, 50%);
}

.hidden { 
    display: none;
}