*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Kumbh Sans", sans-serif;
}

.container {
    margin: auto;
    max-width: 1440px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
}

.container__main {
    padding-right: 20px;
    max-width: 900px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 10px 5px hsla(0, 0%, 0%, 0.2);
}

.container__main__hero {
    position: relative;
    flex: 1;
    background-image:
        url("images/illustration-woman-online-desktop.svg"),
        url("images/bg-pattern-desktop.svg");
    
    background-repeat: no-repeat;
    background-position: -70px 40px, -550px -300px;

}


.container__main__hero__box {
    position: absolute;
    top: 40%;
    left: -88px;
    width: 180px;
    height: 180px;
}

.container__main__faq {
    padding: 20px;
    flex-basis: 450px;
    flex-grow: 1;
    color: hsl(237, 12%, 33%);
}

.container__main__faq__title {
    margin: 20px 0;
    font-size: 24px;
    font-weight: bold;
}

.container__main__faq__questions {
    margin: 20px 0;
}

.container__main__faq__questions__question__fore {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container__main__faq__questions__question__fore {
    padding: 20px 0;
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

.container__main__faq__questions__question__fore__title {
    cursor: pointer;
}

.container__main__faq__questions__question__fore__title:hover {
    color: hsl(14, 88%, 65%);
}

.container__main__faq__questions__question__fore__more {
    cursor: pointer;
}

.inverse {
    transform: rotate(180deg);
}

.container__main__faq__questions__question__answer {
    display: none;
    font-size: 14px;
    padding: 10px 0;
    line-height: 1.25;
    color: hsl(240, 6%, 50%);
}

.container__main__faq__questions__question.active .container__main__faq__questions__question__answer {
    display: block;
}

.container__main__faq__questions__question.active .container__main__faq__questions__question__fore__title {
    font-weight: bold;
}

.container__main__faq__questions__question.active .container__main__faq__questions__question__fore__more {
    transform: rotate(180deg);
}